<html>

<div id="id_page_gen">
  <div id="id_barre_du_haut">
    <a href="app.component.html" class="class_clickable_top">
      Accueil
    </a>
    <a href="./rechercher/rechercher.component.html" class="class_clickable_top">
      Rechercher
    </a>
    <a href="https://arobasegiovanny.com" class="class_clickable_top">
      Inspiration
    </a>
  </div>

  <div class="class_titre">
    {{title}}
  </div>
</div>

</html>
