* {
  font-family:"Tahoma" ;
}

.class_titre {
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  padding-top: 166px;
  width: 100%;
}

#id_barre_du_haut {
  background-color: #061eab;
  padding:8px;
  position:fixed;
  width:100%;
  top:0;
  left: 0;
  display: flex;
  align-items: center;
}

#id_page_gen {
  display: flex;
}

.class_clickable_top {
  padding-left: 10px;
  padding-right: 10px;
  color:#ffff;
  text-decoration: none;
}
